@charset "UTF-8";

/********
 Sitewide tag Overrides
 ********/
html,body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}

/* disable margins for header tags,
	Override on a case by case basis */
h1,h2,h3 {
	margin:0;
}
a:LINK {
	color:#3399FF;
	text-decoration:none;
}
a:HOVER {
	text-decoration:underline;
}
a:VISITED {
	color:3399FF;
}


/***********
 Structural Elements 
 ***********/

/* Uniform heights and widths */
header, footer {
	/*height: 160px;*/
	height:80px;
	
	background-color: #000;
	color: #FFF;
}
header, footer, article, nav {
	width: 800px;
	margin:0 auto;
}

/* Other structure */
header {	
	padding-top:60px;
	text-indent: 50px;
}

nav {
	height:30px;
	background-color:#000;
	color:#FFF;
}

footer {	
	padding-top:5px;
	clear:both;
	text-align:center;
}

article {
	min-height:500px;
}

/* With Sidebar */
#withsidebar {
	float:left;
	width:550px;
}

#sidebar {
	width:250px;
	float: right;
	
	/* DEBUG */
	background-color:#550;
}